.App {
  text-align: center;
  background-color: mistyrose
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: left;
  border-bottom: 0.4rem solid #3b2f07
}
.friendDatabase {

  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(219, 177, 37)
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width:  60%;
}
.login, .friendList, .addFriend, .logout {
  font-size: 1.9rem;
  text-decoration: none;
  color: rgba(224, 146, 29, 0.788);
}

.loginWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-Items: center;
  height: 100%;
}
.credentialsWrapper {
  display: flex;
  flex-flow: column nowrap;
}
.titleLogin {
  color: rgba(224, 146, 29, 0.788);
  font-size: 2.3rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.username, .password {
  margin-top: 2rem;
  color: rgba(224, 146, 29, 0.788);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.usernameInput, .passwordInput, .submitButton {
  margin-top: 1.2rem
}
.submitButton {
  width: 50%
}
.friendsWrapper {
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-items: center;
  /* align-items: center; */
  width: 50%
}
.friendDetailsWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items:self-start;
}
.friend {
  padding-left: 0.3rem;
  border-left: 1rem solid rgba(224, 146, 29, 0.788);
  margin-left: 2rem;
  border-left-style: inset;
  border-bottom: 0.7rem solid sienna;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.friendAge {
  border-right: 0.5rem solid salmon;
  margin-left: 3rem;
  padding-right: 0.4rem;
  border-right-style: double;
  border-top-style: double;
  border-top: 0.5rem solid lightpink;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif cursive;
  font-style:oblique
}
.friendListTitle {
  color:peru ;
  font-size: 2.3rem;
  font-family:'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: normal;
  border-left: 20rem solid chocolate;
  border-right: 20rem solid chocolate;
  border-left-style: ridge;
  border-right-style: ridge;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
